html, body {
	background-color: #333333;
	margin:0;
}

ul {
	list-style: none;
}


p, li, h1, h2, h3, button, div {
	color: white;
	font-family: 'Chakra Petch', sans-serif;
}
h1 {
	font-size: 48px;
	font-weight: bold;
	font-style: italic;
	margin: 0;
}

p, li, button {
	font-size: 24px;
}

h2 {
	font-size: 36px;
	font-weight: bold;
}

ul {
	padding: 0;
}
/* Header */

/* Navigation Bar */

#logo {
	font-weight: bold;
	color: #C99173;
	padding-left: 100px;
}

#logo {
	/* Needs working on */
	-webkit-text-stroke: 1.5px #232121;
}

nav ul, .navlinks{
	display: flex;
	justify-content: space-between;
}

nav{
	margin: 30px;
	padding: 20px;
}

nav ul{
	margin: 40px;
}
.navlinks {
	gap: 82px;
}
/* Hero Section */

.hero {
	display: flex;
	justify-content: space-around;
	margin: 150px 0;
}
.hero-diamond {
	margin:0;
	padding: 0;
	width: 505px;
	height: 505px;
	background-color: #4D4D4D;
	border-style: solid;
	border-width: 3px;
	border-color: #734E3A;
	transform: rotate(45deg);
	transform-origin: center;
}

.hero-text{
	transform: rotate(-45deg);
	transform-origin: center;
	text-align: center;
}

#hero-quote span{
	text-decoration: underline;
}

.hero-text p {
	font-size: 18px;
}

.primary-button {
	background-color: #5F1B2B;
	width: 390px;
	height: 80px;
	font-weight: bold;
	border-radius: 10px;
}

.hero img {
	width: 50%;
	height: auto;
}
/* Weapon Section */
.weapons {
	background-color: #747474;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 85px;
	gap:50px;
}

.weapon-testimonials {
	background-color: #333333;
	border-radius: 10px;
	padding: 10px 20px;
	width: 1000px;
}


/* Classes Section */
.classes {
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
}

.classes h1 {
	margin: 20px;
}
.class-cards {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.card, .class-motto
{
	border-radius: 5px;
	border-style: solid;
	border-color: #734E3A;
}

.card img {
	width: 411px;
	height: 411px;
}

.card h2{
	font-weight: lighter;
	font-style: italic;
}

.class-motto {
	border-width: 8px;
	margin:30px 0;
	font-size: 24px;
	font-style: italic;
	padding: 10px 0;
}

.hunter .card {
	background-color: #3F3737;
}

.hunter .card p {
	color: #8A4858;
	font-style: italic;
}

.operator .card {
	background-color: #34393A;
}

.operator .card p {
	color: #2D8699;
	font-style: italic;
}
.bastion .card{
	background-color: #363A3E;
}

.bastion .card p {
	color: #2D7DC8;
	font-style: italic;
}

/* Service Section */

.service {
	background-color: #747474;
}

.service-card {
	background-color: #5F1B2B;
	border-radius: 15px;
}

.secondary-button {
background-color: #EDCCBF;
border-color: #747474;
border-radius: 4px;
color: black;
}

